# Mobile App for Lottery Addiction

A medical institute that aims to prevent and treat gambling addictions wants to build a dedicated mobile app to help lottery addicts better estimate their chances of winning. The institute has a team of engineers that will build the app, but they need us to create the logical core of the app and calculate probabilities.

For the purpose, the application should be able to calculate the chance of winning logically.

The institute also wants us to consider historical data coming from the national 6/49 lottery game in Canada. The data set has data for 3,665 drawings, dating from 1982 to 2018 (we'll come back to this).

## Core Functions

we saw our goal is to write code that can enable users to answer probability questions about playing the lottery. Throughout the project, we'll need to calculate repeatedly probabilities and combinations. As a consequence, we'll start by writing two functions that we'll use often:

- A function that calculates factorials; and
- A function that calculates combinations.

In [39]:
import pandas as pd
import numpy as np

In [14]:
def factorial(n):
    value = 1
    for n in range (n, 0, -1):
        value *= n
    return value

def combinations(n,k):
    numerator = factorial(n)
    denominator = factorial(k) * factorial(n - k)
    return numerator / denominator

In [12]:
# Factorial Function test
def factorial_test():
    factorial_1 = 1
    factorial_2 = 2
    factorial_3 = 6
    result = (factorial(1) == factorial_1) & (factorial(2) == factorial_2) & (factorial(3) == factorial_3)
    return result

result = factorial_test()
result

True

In [18]:
# Combination function test
def combination_test():
    combination_2_1 = 2
    combination_3_1 = 3
    combination_3_2 = 3
    combination_3_3 = 1
    combination_4_1 = 4
    combination_4_2 = 6
    combination_2_1_res = combination_2_1 == combinations(2,1)
    combination_3_1_res = combination_3_1 == combinations(3,1)
    combination_3_2_res = combination_3_2 == combinations(3,2)
    combination_3_3_res = combination_3_3 == combinations(3,3)
    combination_4_1_res = combination_4_1 == combinations(4,1)
    combination_4_2_res = combination_4_2 == combinations(4,2)
    return (combination_2_1_res & combination_3_1_res & combination_3_2_res \
            & combination_3_3_res & combination_4_1_res & combination_4_2_res)

result = combination_test()
result

True

## One-ticket Probability

We want players to be able to calculate the probability of winning the big prize with the various numbers they play on a single ticket (for each ticket a player chooses six numbers out of 49). So, we'll start by building a function that calculates the probability of winning the big prize for any given ticket.

We discussed with the engineering team of the medical institute, and they told us we need to be aware of the following details when we write the function:

- Inside the app, the user inputs six different numbers from 1 to 49.
- Under the hood, the six numbers will come as a Python list, which will serve as the single input to our function.
- The engineering team wants the function to print the probability value in a friendly way — in a way that people without any probability training are able to understand.

In [36]:
def one_ticket_probability(array):
    total_number_of_possible_outcomes = combinations(49,6)
    number_of_successful_outcomes = 1
    chance_of_winning = number_of_successful_outcomes / total_number_of_possible_outcomes * 100
    print('Your chance of winning with one ticket is {:.7f}%'.format(chance_of_winning))

In [46]:
input_test = pd.Series(range(1,50)).sample(6)
print(input_test)
one_ticket_probability(input_test)
#one_ticket_probability([0,1,2,3,4,5])
#one_ticket_probability([0,1,2,3,4,5])
#one_ticket_probability([0,1,2,3,4,5])
#one_ticket_probability([0,1,2,3,4,5])

34    35
42    43
47    48
13    14
37    38
39    40
dtype: int64
Your chance of winning with one ticket is 0.0000072%

## Historical Data Check for Canada Lottery

On the previous screen, we wrote a function that can tell users what is the probability of winning the big prize with a single ticket. For the first version of the app, however, users should also be able to compare their ticket against the historical lottery data in Canada and determine whether they would have ever won by now.

we'll focus on exploring the historical data coming from the Canada 6/49 lottery. The data set can be downloaded from [Kaggle](https://www.kaggle.com/datascienceai/lottery-dataset).

The data set contains historical data for 3,665 drawings (each row shows data for a single drawing), dating from 1982 to 2018. For each drawing, we can find the six numbers drawn in the following six columns:

- NUMBER DRAWN 1
- NUMBER DRAWN 2
- NUMBER DRAWN 3
- NUMBER DRAWN 4
- NUMBER DRAWN 5
- NUMBER DRAWN 6

In [51]:
data = pd.read_csv('649.csv')
print(data.shape)

(3665, 11)

In [49]:
data.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [50]:
data.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

## Function for Historical Data Check

The engineering team told us that we need to be aware of the following details:

- Inside the app, the user inputs six different numbers from 1 to 49.
- Under the hood, the six numbers will come as a Python list and serve as an input to our function.
- The engineering team wants us to write a function that prints:
    - the number of times the combination selected occurred in the Canada data set; and
    - the probability of winning the big prize in the next drawing with that combination.

In [101]:
# Number Extracting Function

def extract_number(df):
    columns = ['NUMBER DRAWN 1'
               ,'NUMBER DRAWN 2'
               ,'NUMBER DRAWN 3'
               ,'NUMBER DRAWN 4'
               ,'NUMBER DRAWN 5'
               ,'NUMBER DRAWN 6']
    numbers_extracted = set()
    for column in columns:
        numbers_extracted.add(df[column])
    return numbers_extracted

In [103]:
set_extracted = pd.Series(data.apply(extract_number, axis = 1))
#data.apply(extract_number, axis = 1)

In [107]:
set_extracted.head(3)

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
dtype: object

In [106]:
data[['NUMBER DRAWN 1'
               ,'NUMBER DRAWN 2'
               ,'NUMBER DRAWN 3'
               ,'NUMBER DRAWN 4'
               ,'NUMBER DRAWN 5'
               ,'NUMBER DRAWN 6']].head(3)

,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6
0,3,11,12,14,41,43
1,8,33,36,37,39,41
2,1,6,23,24,27,39

You can confirm that the number is extraced right from the above.

In [117]:
for numbers in set_extracted:
    if numbers == set([3, 41, 11, 12, 43, 14]):
        print(numbers)

{3, 41, 11, 12, 43, 14}

In [121]:
def check_historical_occurence(user_list, historical_list):
    user_list = set(user_list)
    occurrence = 0
    length = len(historical_list)
    for numbers in set_extracted:
        if numbers == user_list:
            occurrence += 1
    chance_of_winning = occurrence / length
    print('Your chance of winning with one ticket is {:.7f}%'.format(chance_of_winning))

## Multi-ticket Probability

Lottery addicts usually play more than one ticket on a single drawing, thinking that this might increase their chances of winning significantly. Our purpose is to help them better estimate their chances of winning — on this screen, we're going to write a function that will allow the users to calculate the chances of winning for any number of different tickets.

We've talked with the engineering team and they gave us the following information:

- The user will input the number of different tickets they want to play (without inputting the specific combinations they intend to play).
- Our function will see an integer between 1 and 13,983,816 (the maximum number of different tickets).
- The function should print information about the probability of winning the big prize depending on the number of different tickets played.

In [132]:
def multi_ticket_probability(n):
    total_number_of_possible_outcomes = combinations(49,6)
    number_of_successful_outcomes = n
    chance_of_winning = number_of_successful_outcomes / total_number_of_possible_outcomes * 100
    print('Your chance of winning with one ticket is {:.7f}%'.format(chance_of_winning))

In [133]:
for i in [1, 10, 100, 10000, 1000000, 6991908, 13983816]:
    multi_ticket_probability(i)

Your chance of winning with one ticket is 0.0000072%
Your chance of winning with one ticket is 0.0000715%
Your chance of winning with one ticket is 0.0007151%
Your chance of winning with one ticket is 0.0715112%
Your chance of winning with one ticket is 7.1511238%
Your chance of winning with one ticket is 50.0000000%
Your chance of winning with one ticket is 100.0000000%

Even with multiple ticket purchase, your chance of winning is still extremly slip. If you want to win 7 in 100 times, you have to buy **a million** tickets.

## Less Winning Numbers

we're going to write one more function to allow the users to calculate probabilities for two, three, four, or five winning numbers.

For extra context, in most 6/49 lotteries there are smaller prizes if a player's ticket match two, three, four, or five of the six numbers drawn. As a consequence, the users might be interested in knowing the probability of having two, three, four, or five winning numbers.

In [145]:
# Takes in an integer between 2 and 5 depending on users interests 
# in winning smaller prizes.

def probability_lest_6(n):
    total_number_of_outcomes = combinations(49,6)
    if n == 5:
        chance_of_winning = combinations(6,5) * 43 / total_number_of_outcomes
    elif n == 4:
        chance_of_winning = combinations(6,4) * 43 * 42 / total_number_of_outcomes
    elif n == 3:
        chance_of_winning = combinations(6,3) * 43 * 42 * 41 / total_number_of_outcomes
    elif n == 2:
        chance_of_winning = combinations(6,2) * 43 * 42 * 41 * 40 / total_number_of_outcomes        
    print('Your chance of winning {} numbers with one ticket is {:.7f}%'.format(n,chance_of_winning))

In [146]:
for i in [2,3,4,5]:
    probability_lest_6(i)

Your chance of winning 2 numbers with one ticket is 3.1770727%
Your chance of winning 3 numbers with one ticket is 0.1059024%
Your chance of winning 4 numbers with one ticket is 0.0019372%
Your chance of winning 5 numbers with one ticket is 0.0000184%

## Conclusion

As we have explored theoretically and empirically, the chance of winning a lottery is extremely slim. Even getting, two numbers right is about 3%